@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype'); 
}


.notification-owner{
    border-radius: 68.96551513671875px;
    opacity: 1;
    width:40px;
    height:40px;
}
.notification-owner-userName{
    opacity: 1;
color: rgba(70, 70, 70, 1);
font-family: "Poppins-Medium";
font-size: 14px;
font-weight: 500;
font-style: Medium;
letter-spacing: 0px;
text-align: left;
}
.notification-content{
    opacity: 0.8;
color: rgba(70, 70, 70, 1);
font-family: "Poppins-Light";
font-size: 14px;
font-weight: 300;
font-style: Light;
letter-spacing: 0px;
text-align: left;
}
.view-more{
    width: 168px;
    height: 23px;
    margin: 12px 200px 13px 110px;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1877f2;
  }
  .notification-container{
    width: 1003px;
    height: 838px;
    margin: 16px 182px 0 181px;
    padding: 30px 0 30px;
    border-radius: 16px;
    border: solid 1px #e2e2ea;
    background-color: white
  }
  .notifiactionList-title{
    width: 144px;
  height: 30px;
  margin: 32px 1041px 16px 181px;
  font-family: 'Quicksand-Medium';
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  }
  .notificationList-content{

  margin: 0 0 2px 8px;
  font-family: 'Poppins-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b6b6b;
  }
  .title{
    margin: 12px 41px 16px 19px;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  }
 .notification-main{
  background-color: #F5F5F5;
 }