@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
    
  }
  @font-face {
    font-family: 'Quicksand-Medium';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Medium.ttf') format('truetype'); 
    
  }
.share-title{
    opacity: 1;
color: rgba(70,70,70,1);
font-family: "Quicksand-Bold";
font-size: 1rem;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
}
.challenge-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 1rem;

}

.challenge-label{
  opacity: 1;
color: rgba(70,70,70,1);
font-family: "Quicksand-Bold";
font-size: clamp(0.5rem,0.8rem,1.5rem);
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
}
.what-p{
  opacity: 1;
color: rgba(70,70,70,1);
font-family: 'Quicksand-Bold';
font-size: 14px;
font-weight: 500;
font-style: normal;
letter-spacing: 0px;
text-align: left;
}
.desc-p{
  opacity: 0.8;
color: rgba(70,70,70,1);
font-family: 'Quicksand-Medium';
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
}
.upload-btn{
  border-radius: 24px;
box-shadow: 0px 2px 12px rgba(1,37,43, 0.3);
opacity: 1;
background-color: rgba(119,220,191, 1);
border: none;
opacity: 1;
color: rgba(29,45,41,1);
font-family: "Quicksand-Medium";
font-size: 16px;
font-weight: 500;
font-style: normal;
letter-spacing: 0px;
text-align: left;
width:auto;
text-align: center;
margin-top: 2rem;
}
.submit-btn{
  background-color: #A6AEBB;
  border-radius: 24px;
  box-shadow: 0px 2px 12px rgba(1,37,43, 0.3);
  opacity: 1;
  border: none;
  padding: 0.6rem;
  width: 23%;
}
.afterSubmit-btn{
  background-color: #4D5D77;
  border-radius: 24px;
  box-shadow: 0px 2px 12px rgba(1,37,43, 0.3);
  opacity: 1;
  border: none;
  padding: 0.6rem;
  width: 23%;
}
.afterSubmit-btn:hover{
  background-color: #4D5D77;

}
.editSubmit-btn{
  background-color: #4D5D77;
  border-radius: 24px;
  box-shadow: 0px 2px 12px rgba(1,37,43, 0.3);
  opacity: 1;
  border: none;
  padding: 0.6rem;
  width: 30%;
}
.editSubmit-btn:hover{
  background-color: #4D5D77;

}
.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  max-width: 20rem;
  max-height: 20rem;
}
ul {
  list-style: none; 
  padding: 0; 
}

ul li {
  position: relative;
  padding-left: 30px; 
  margin-bottom: 10px; 
}

.custom-list .desc-p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; 
  height: 20px; 
  background-color: rgba(228,248,242, 1); 
  background-image: url('../../assets/imgs/listImg.svg'); 
  background-size: contain; 
  background-repeat: no-repeat;
  margin-top: 2px;
  border-radius: 15px;
  padding: 0.7rem;
}
.challenge-container{
  border-radius: 12px;
border: 1px solid rgba(211,215,221, 0.5);
opacity: 1;
background-color: rgba(211,215,221, 0.05);
padding: 1rem;
}
.challenge-footer{
  border-radius: 0px 0px 8px 8px;
box-shadow: 0px 2px 16px rgba(151,151,151, 0.3);
opacity: 1;
background-color: rgba(255,255,255, 1);
border-color: white;
}
.dropdown-toggle::after {
  display: none !important; 
}
.challenge-input{
  /* backgroundImage: `url(${dropdownImg})`,
        backgroundRepeat: 'no-repeat',
        backgroundPosition: 'right center',
        paddingRight: '20px', 
        appearance: 'none', // Hide default arrow for modern browsers
        WebkitAppearance: 'none', // Hide default arrow for older versions of Safari
        MozAppearance: 'none', */
        background-image: url('../../assets/imgs/dropdown.svg');
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 20px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
}

@media (max-width: 600px) {
  .upload-btn{
    border-radius: 24px;
  box-shadow: 0px 2px 12px rgba(1,37,43, 0.3);
  opacity: 1;
  background-color: rgba(119,220,191, 1);
  border: none;
  opacity: 1;
  color: rgba(29,45,41,1);
  font-family: "Quicksand-Medium";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  width:auto;
  text-align: center;
  margin-top: 2rem;
  }
}
