@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
    
  }
  @font-face {
    font-family: 'Quicksand-Regular';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Regular.ttf') format('truetype'); 
    
  }
  @font-face {
    font-family: 'Quicksand-Light';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Light.ttf') format('truetype'); 
    
  }

.profile-card{
    border-radius: 8px;
box-shadow: 0px 2px 16px rgba(235, 234, 237, 1);
opacity: 1;
background-color: rgba(255, 255, 255, 1);
border:none;
width:25rem
}
.images-container{
    position: relative;
}
.profile-img{
   
    width: 90px;
    height: 90px;
    position: absolute;
    top:11rem;
    left:calc(50% - 50px);
    border-radius: 50%;
    border: solid 6px white;
    
}
.cover-img{
    width:100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
opacity: 1;

}
.card-title{
    opacity: 1;
color: rgba(70, 70, 70, 1);
font-family: "Quicksand-Bold";
font-size: 1.4rem;
font-weight: 700;
font-style: Bold;
letter-spacing: 0px;

}
.card-subTitle{
    opacity: 0.8;
color: rgba(70, 70, 70, 1);
font-family: "Quicksand-Regular";
font-size: 1rem;
font-weight: 400;
font-style: Regular;
letter-spacing: 0px;

}
.followers-number{
    opacity: 1;
color: rgba(24, 119, 242, 1);
font-family: "Quicksand-Regular";
font-size: 14px;
font-weight: 400;
font-style: Regular;
letter-spacing: 0px;
margin-top: 1rem;
margin-bottom: 1rem;
}
.data-title{
    display: inline-block;
    opacity: 0.8;
color: rgba(70, 70, 70, 1);
font-family: "Quicksand-Light";
font-size: 0.9rem;
font-weight: 300;
font-style: Light;
letter-spacing: 0px;
text-align: left;
}
.data-value{
    opacity: 1;
color: rgba(70, 70, 70, 1);
font-family: "Quicksand-Medium";
font-size: 0.9rem;
font-weight: 500;
font-style: Medium;
letter-spacing: 0px;
text-align: left;
}
.text2{
    width: 90%;
    box-shadow: 0px 2px 12px rgba(218,218,218, 0.5);
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
.followers-span:hover{
    text-decoration: underline;
    cursor: pointer;
    
    
}
.strong-p{
    opacity: 1;
color: rgba(26, 42, 68, 1);
font-family: "Poppins-Regular";
font-size: 16px;
font-weight: 400;
font-style: Regular;
letter-spacing: 0px;
text-align: left;
}