
.Main{
    display: flex;
    justify-content: space-between;
    
    
}
.Rside{
    height: 50rem;
    width: 11%;
    left:0;
    flex-wrap: wrap;
}
.Profile{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}
.Profile >img{
    border-radius: 50%;
    width: 10%;
}
.Pro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem;
    /* padding: 1.2rem;
    padding-left: 1rem; */
}
.Pro >div{
    margin: 10px;
}
.Pros{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 550;
    padding-left: 1rem;
    padding: 0 15px;
    border-bottom: .1rem rgb(68, 62, 62) solid;
}
.Profiles{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 550;
    padding: 5px;
}
.Profiles >img{
    border-radius: 10%;
    width: 30%;
}
.Pross{
    display: flex;
    align-items: center;
    font-weight: 550;
    font-size: 1rem;
    padding: 0 15px;
}

.Lside{
    height: 50rem;
    width: 21%;
    left:0;
    flex-wrap: wrap;
}
.Contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Contacts{
    font-size: 1rem;
    font-weight: 550;
    padding-left: 1rem;
}
.icons{
    display: flex;
    align-items: center;
    padding: 2px 20px;
}
.chaticon{
    display: flex;
}
.Profilee{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 550;
}
.Profilee >img{
    border-radius: 80%;
    width: 10%;
}

.MainArea{
    display: grid;
    width: 60%;
    height: 30rem;
    justify-content: center;
}
.addStory{
    display: flex;
    width: 150%;
    margin: 20px 0;
    color: black;
    font-size: 1rem;
    justify-content: flex-start;
    padding-left: 5%;
}
.add-story{
}
.Story{
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: .5rem;
    
}
.message{
    display: grid;
    height: 25rem;
    width: 80%;
    margin-left: 10%;
}
.plus-sign {
    position: absolute;
    bottom: 1rem;
    right: 5px;
    background-color: #213555; 
    width: 27px; 
    height: 27px; 
    border-radius: 50%;
    text-align: center;
    line-height: 30px; 
    font-weight: bold;
    font-size: 20px; 
    color: white; 
  }
.Post{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    background-color: white;
    margin-left: 0;
}
.Post > div{
    margin-left: 2px;
}
.Post > img{
    height: 45px;
    border-radius: 50%;
    width: 45px;
    margin: 15px;
    padding-top: 9px;
}
input[type=Mind]{
    width: 50%;
    margin: 15px 0;
    height: 4rem;
    display: inline;
    border: 0px solid #ccc;
    border-radius: 12px;
    margin-left: 0;
    box-sizing: border-box;
}
.text{
    width: 50rem;
    box-shadow: 0px 2px 12px rgba(218,218,218, 0.5);

}
.Call{
    display: flex;
    align-items: center;
    margin-left: 40rem;
    height: 5rem;
    width: 80%;
    background-color: white;
}

.ico{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    font-size: 0.8rem;
}
.Posted{
    display: grid;
    height: auto;
    width: 100%;
    align-items: flex-start;
    background-color: white;
    margin-left: 0%;
    margin-top: 29px;
    box-shadow: 0px 2px 12px rgba(218,218,218, 0.5);
}
.poster{
    display: flex;
    justify-content: space-between;
}
.Simplilearn{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 1rem;
    font-weight: 550;
}

.update{
    font-size: 1rem;
    font-weight: 400;
    padding-left: 20px;
}
.edit{
    margin: 12px;
}
.caption{
    font-size: 1rem;
    font-weight: 500;
    word-wrap: break-word;
    padding-left: 4%;
}
.Comment{
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    flex-wrap: wrap;
}
.Like{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
}





.RightArea {
    margin-top: 2rem;
    width: 247px;
    padding: 20px;
    border-radius: 16px;
box-shadow: 0px 2px 12px rgba(218,218,218, 0.5);
opacity: 1;
background-color: rgba(255,255,255, 1);
margin-left: 2.5rem;
    
  }
  
  .RecommendedChallenges h6 {

    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .RecommendedChallenges hr {
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .Profile {

    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .Profile img {
   
    border-radius: 50%;
    margin-right: 10px;
  }
  .post-username{
    margin-top: 0.4rem;
    margin-left: 0.7rem;
  }
  .Profile div {
   
    font-weight: bold;
    color: #555;
    font-size: 16px;
  }
  .FacebookImg{
    border-radius: 16rem;
    opacity: 1;
  }
  .story-section {
    padding: 20px;
    border-radius: 10px;
    border-radius: 53.5px;
    box-shadow: 0px 2px 16px rgba(151,151,151, 0.2);
    opacity: 1;
   background-color: rgba(255,255,255, 1);
   margin-bottom: 3rem;
   margin-left: 5rem;
  
   
}

.story-container {
    display: flex;
    justify-content: space-between;
    
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    
}

.story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
    border:3px solid #77DCBF;
    
}

.story-section.added {
    border-color: #ff6347; /* Change to the desired color */
}

.challenges-p{
    opacity: 1;
color: rgba(70,70,70,1);
font-family: "Quicksand-Medium";
font-size: 24px;
font-weight: 500;
font-style: normal;
letter-spacing: 0px;
text-align: center;
width: 10rem;
margin-left: 2rem;
}
.challenges-desc{
    opacity: 1;
color: rgba(151,151,151,1);
font-family: "Poppins-Regular";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: center;
width: 14rem;
}
.share-btn{
    border-radius: 24px;
box-shadow: 0px 2px 12px rgba(1,37,43, 0.3);
opacity: 1;
background-color: rgba(119,220,191, 1);
border: none;
opacity: 1;
color: rgba(29,45,41,1);
font-family: "Poppins-Medium";
font-size: 16px;
font-weight: 500;
font-style: normal;
letter-spacing: 0px;
text-align: left;
margin-left: 2rem;
}
.share-btn:hover{
color:white;
background-color:rgba(119,220,191, 1); ;

}