#loading-wrapper {
  /* position: relative;
  top: 20rem; */
  width: 100%;
  height: 100%;
}

#loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: -10px 0 0 10px;
  color: #888;
  width: 100px;
  height: 30px;
}

#loading-text img {
  width: 80px;
  height: 60px;
}

#loading-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #77dcbf;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #6c757d;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #adb5bd;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  position: relative;
  width: 200vw;
  height: 200vh;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}