@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
    
  }
  @font-face {
    font-family: 'Quicksand-Medium';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Medium.ttf') format('truetype'); 
    
  }
  @font-face {
    font-family: 'Quicksand-Regular';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Regular.ttf') format('truetype'); 
    
  }

.post-container{
    font-size: 1rem;
    font-weight: 500;
    word-wrap: break-word;
    padding: 4%;
    border-radius: 8px;
  
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    width: 94%;
    margin-left: 1rem;
    
}
.postOpp-title{
    opacity: 1;
color: rgba(70,70,70,1);
font-family: "Quicksand-Bold";
font-size: 16px;
font-weight: 500;
font-style: normal;
letter-spacing: 0px;
text-align: left;
}
.postOpp-desc{
    opacity: 1;
color: rgba(107,107,107,1);
font-family: "Quicksand-Bold";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
}
.view-btn{
    border-radius: 18px;
border: 1px solid rgba(95,176,153, 1);
opacity: 1;
background-color: rgba(255,255,255, 1);
color:rgba(95,176,153, 1);
}
.view-btn:hover{
    border-radius: 18px;
    border: 1px solid rgba(95,176,153, 1);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    color:rgba(95,176,153, 1);
}
.form-group {
    margin-bottom: 20px;
  }
  
  .label2 {
    opacity: 1;
    color: rgba(70, 70, 70, 1);
    font-family: "Quicksand-Regular";
    font-size: 15px;
    font-weight: 400;
    font-style: Regular;
    letter-spacing: 0px;
    text-align: left;
    width: 9rem;
    
  }
  
  .input-container {
    position: relative;
  }
  .newOpp-form{
    margin: 4rem;
  }
  
  .input-field {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  .add-btn{
    border-radius: 24px;
box-shadow: 0px 2px 12px rgba(1, 37, 43, 0.3);
opacity: 1;
background-color: rgba(33, 53, 85, 1);
border-color: rgba(33, 53, 85, 1);
width:60%;
float: right;
  }
  .add-btn:hover{
    border-radius: 24px;
box-shadow: 0px 2px 12px rgba(1, 37, 43, 0.3);
opacity: 1;
background-color: rgba(33, 53, 85, 1);
border-color: rgba(33, 53, 85, 1);

float: right;
cursor: pointer;
  }
  .addOpp-title{
    opacity: 1;
color: rgba(70, 70, 70, 1);
font-family: "Quicksand-Medium";
font-size: 18px;
font-weight: 500;
font-style: Medium;
letter-spacing: 0px;
text-align: left;
  }

  
.custom-radio-btn3 {
  --size: 20px;
  width: 5.7rem;
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #E1E1E1; 
  padding: 1rem;
  margin: 1px 5px;
  position: relative;
  border-radius: 8px;
  padding-left: var(--size);
  
}


.custom-radio-btn3 input {
  display: none;
}
.custom-radio-btn3.left {
  padding-left: 0;
  padding-right: var(--size);
}

.custom-radio-btn3 input {
  display: none;
}


.custom-radio-btn3.left {
  padding-left: 0;
  padding-right: var(--size);
}


.custom-radio-btn3 .label {
  margin-left: 5px;
}
.custom-radio-btn2 .label {
  margin-left: 3px;
  
}

.custom-radio-btn3.left .label {
  margin: 0 5px;
}


.custom-radio-btn3[aria-label]::after {
  content: attr(aria-label);
  display: inline-block;
  margin-left: 5px;
}


.custom-radio-btn3 .checkmark {
  --gap: 3px;
  --border: 2px;
  --check-color: #5fb099;
  width: 1rem;
  height: 1rem;
  margin-top: 8px;
  margin-left: 3px;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  border: var(--border) solid #444;
  position: absolute;
  top: 0;
  left: 0;
}


.custom-radio-btn3.left .checkmark {
  left: auto;
  right: 0;
}


.custom-radio-btn3 input:checked ~ .checkmark {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    circle at center, 
    var(--check-color) 
    
       calc((var(--size) - (var(--border) * 2) - (var(--gap) * 2)) / 2), 
    rgba(255, 255, 255, 0) 0);
}
.apply-btn{
  border-radius: 24px;
box-shadow: 0px 2px 12px rgba(1, 37, 43, 0.15);
opacity: 1;
background-color: rgba(33, 53, 85, 1);
border-color:rgba(33, 53, 85, 1) ;
}
.oppPost-container{
  font-size: 1rem;
  font-weight: 500;
  word-wrap: break-word;
  padding: 4%;
  border-radius: 8px;
  opacity: 1;
  background-color: rgba(255,255,255, 1);
  width: 94%;
  margin-left: 1rem;
}
