@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
}
.aboutDesc-div{
  margin-left: 3rem;

}

.about-p{
    width:28rem;
    margin-left: 2rem;
    margin-top: 2rem;
    color:#464646;
}
.about-h1{
  width: 493px;
  /* height: 140px; */
  margin: 0 12px 24px 4px;
  font-family: "Quicksand-Bold";;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
margin-left: 2rem;
 

}
.button-container{
  margin-left: 2rem;
  
}
.image1{

}
.image2{
  width: 350px;
  height: 600px;
}

  @media only screen and (max-width: 600px) {
    .aboutDesc-div{
      margin-left: 0.4rem;
    
    }
    .about-p{
      width:20rem;
      margin-left: 2rem;
      margin-top: 0rem;
      color:#464646;
  }
  .image-container{
    display: flex;
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .image2{
    width: 158px;
    height: 305px;
    
   }
   .image1{
    width: 158px;
    height: 237px;
   }
   .about-h1{
    font-size: 24px;
    width: 153px;
   }

  }
  
