@font-face {
  font-family: 'Quicksand';
  src: url('') format('woff2'), /* Path to downloaded font */
       url('') format('woff'); /* Different font formats for cross-browser compatibility */
  font-weight: normal;
  font-style: normal;
}

.about-p{
    width:30rem;
    margin-left: 3rem;
}
.about-h1{
  color: #464646;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-left: 3rem;
  width: 14rem;
}
.button-container{
  margin-left: 5rem;
}
/* .image-container {
    position: relative;
  } */


  
  /* .image1 {
    z-index: 1;
    position: absolute;
    top: 5rem;
    left: 10rem;

  }
  
  .image2 {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;

  } */