.steps-div{
    background-color:  #213555;
    margin-top: 3rem;
    padding: 2rem;
    position: relative;
}

@media only screen and (width: 1920px) and (height: 1080px) {
  .about-h1{
    font-size: 4rem;
  }
}
