@font-face {
  font-family: 'Quicksand-Medium';
  src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Medium.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'); 
}

.steps-div{
    background-color:  #213555;
    margin-top: 5rem;
    padding: 2rem;
    position: relative;
    
}
.Shape{
  width: 150px;
  height:150px;
  background: #CEFBEE;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.how-h1{

    width: 493px;
    font-family: "Quicksand-Bold";;
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #464646;
  margin-left: 3rem;
   
  
  
}
.steps-content{
  width: 310px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.8);
}
.Lorem-responsive{
  width: 30rem;
}

@media (max-width: 600px) {
  .how-h1{
  }
  .desc-responsive{
    margin-top: 0rem;
  }
  .how-h1{
    width: 153px;
  height: 30px;
  margin: 0 175px 12px 0;
  font-family: 'Quicksand-bold';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  }
  .Lorem-responsive{
    width: 303px;
    height: 350px;
  margin: 0px 0px 0px 0;
  opacity: 0.8;
  font-family: 'Poppins-Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  }
 }
/* 
@media only screen and (width: 1920px) and (height: 1080px) {
  .about-h1{
    font-size: 4rem;
  }
  
} */
