@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
    
  }
  @font-face {
    font-family: 'Quicksand-Regular';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Regular.ttf') format('truetype'); 
    
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'); 
  }

.header-div {
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}

.header-row{
  margin-top: 10rem;
  width: 80%;
}

.whole-div {
  position: relative;
  background-image: url('../../assets/imgs/HeroImage.png');
  background-size:cover ;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 0% 100%); */
  border-radius: 0px 0px 0px 86px;
}

.navbar-container{
  /* margin-right: 1.5rem; */
}

.header-h1{
  width: 574px;
  height: 140px;
  margin: 0 0 40px;
  font-family: 'Quicksand-Bold';
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  }

  .custom-dropdown .dropdown-toggle::after {
    display:none;
   }

.activeButton{
    color: #77DCBF !important; 
    text-decoration: underline; 
    padding-bottom: 3px ;
    text-underline-offset: 1.4rem;
  }
  
  .Register-button{
    color:black;
    border-radius: 45px;
    padding: 0.7rem;
    background-color: #77DCBF;
    border-color:#77DCBF;
    box-shadow: 0px 32px 54px rgba(3,3,3, 0.135927);
  }
.Register-button:hover{
  box-shadow: 0px 32px 54px rgba(3,3,3, 0.135927);
  color:white;
  background-color:#77DCBF; 
  border-color: #77DCBF;
}
.right-nav{
  /* margin-right: -4rem; */
}
.Register-link{
  text-decoration: none;
  color:black;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.9rem 
  
}
.Register-link:hover{
  color:white;
}
.header-p2{
  width:31.5rem;
  color:#ebeaea;
  font-family: 'Poppins-Regular';

}
.logo-header{
  width:26%
}
.first-nav{
  margin-left: 1rem;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border-color:transparent
}

@media only screen and (max-width: 360px) {
  .logo-header{
    width:60%;
    margin-left: -2rem;
    margin-inline-end: 7rem;
  }
  .first-nav{
    margin-left: -3rem;
  }
  .header-h1{
    width: 225px;
    height: 40px;
    font-family: 'Quicksand-Regular';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    }
    .header-p2{
      width: 201px;
      height: 24px;
      opacity: 0.8;
      font-family: 'Poppins-Regular';
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    
    }
    .register-responsive-btn{
      margin-top: 8rem;
    }
    .header-div{
      max-height: 1vh;
      margin-left: 2rem;
    }
}
