.header-div {
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-row{
    margin-top: 10rem;
}
.whole-div{
    background-image: url('../../assets/imgs/HeroImage.png');
    border-radius: 0px 0px 100px 100px;
    background-color: #213555;
    opacity: 0.9;
    height: 40rem;
    border-radius: 0px 0px 0px 79px;
/* -moz-border-radius: 0px 0px 0px 79px;
-webkit-border-radius: 0px 0px 0px 79px;
border: 0px solid #000000; */
   
}
.active {
    color: #77DCBF !important; 
    text-decoration: underline; 
  }
