@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
  }
  @font-face {
    font-family: 'Quicksand-Regular';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Regular.ttf') format('truetype'); 
  }

.becomeClient-div{
    background-color: #213555;
    width:81rem;
    height: 43rem;
    /* width: 1205px;
    height: 679px; */
    margin: auto;
    margin-top: 3rem;
    border-radius: 12px;
    margin-left: 5rem;
}
.form-contact{
    padding:3rem;
}
.submit-button{
    background-color: #77DCBF;
    border-radius: 24px;
    border-color: #77DCBF;
    color:black;
    float: right;
    margin-right: 4.7rem;
    width:9rem
}
.submit-button:hover{
    background-color: #77DCBF;
    border-radius: 24px;
    border-color: #77DCBF;
    color:white;
    cursor: pointer;
}
.become-h1{
    width:35rem;
    margin-left: 0rem;
    font-size: 43px;
    width: 597px;
    height: 180px;
    /* margin: 53px 34px 42px 0; */
    font-family: 'Quicksand-Regular';
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.textarea-input{
    background-color: #1A2A44;
    border: 1px solid white;
    color: white;
    width: 36rem 
}
.text-input:hover,.text-input:active,.textarea-input:hover,.textarea-input:active{
    background-color: #1A2A44;
    color: white;

}

.text-input{
    background-color: #1A2A44;
    border: 1px solid white;
    color: white;
    width: 15rem;
}


@media only screen and (max-width: 600px) {
    .contactForm-img{
        visibility:hidden;
       }
       .becomeClient-div{
        margin-left: 0rem;
        width: 360px;
        height: 661px;
       }
       .become-h1{
        width: 279px;
        height: 90px;
        margin: 0 49px 38px 0;
        font-family: Quicksand;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
       }
       .textarea-input,.text-input{
        width: 19rem 
    }
    .submit-button {
        margin-right: 1rem;

    }
    .form-contact{
        padding:1rem;
    }
  }
/* 
@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .contactForm-img{
   visibility:hidden;
  }
 .form-contact{
    margin-left: 5rem;
 }
 .submit-button{
    margin-right: -3rem;
 }
} */