@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
}

.customButton {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  .OurClientsWhole{
    opacity: 1;
    margin-left: 3rem;
    margin-top: 4rem;

  }
  .talkQ{
    font-size:1rem;
    color:#213555;
  }
  .client-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 13rem;
    position: relative;
  }
  
  .main-image img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }
  
  .thumbnail-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .thumbnail {
    width: 4rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: border 0.3s ease-in-out;
  }
  
  .thumbnail.selected {
    border: 2px solid #000;
    display: none;
  }
  
  .clientTalk-container{
    margin-left: 4rem;

  }
  @media only screen and (width: 1920px) and (height: 1080px) {
  .clients-img{
    margin-left: 14rem;
  }
  .clientTalk-container{
    margin-left: 6rem;
  }
  }

  @media only screen and (width: 1024px) and (height: 768px) {
    .clients-img{
      width:23rem
    }
  }