@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Medium.ttf') format('truetype'); 
    
  }

.reaction-p{
    opacity: 1;
    color: rgba(70,70,70,1);
    font-family: "Quicksand-Medium";
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
}
.active{
    border-color:white;

}
.list-group-item {
    border-color: white;
}
.user-img{
    width:3.8rem;
    height: 3.8rem;
    border-radius: 50%;
}
.user-name{
    opacity: 1;
color: rgba(70,70,70,1);
font-family: "Quicksand-Medium";
font-size: clamp(0.8rem,1rem,2rem);
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
margin-top: 0.7rem;
}
.rectangle{
background-color: rgba(225, 225, 225, 0.2);
border-radius: 45px;
width: 2.6rem;
height: 2.6rem;
padding: 1px;


   
}
.rectangleOn{
    background-color: #e9e8e8;
border-radius: 45px;
 position: absolute;
 top:2.5rem;
 left:3.5rem;
 padding: 0.3rem;

}
