@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
  }
  @font-face {
    font-family: 'Quicksand-Medium';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Medium.ttf') format('truetype'); 
  }
  @font-face {
    font-family: 'Quicksand-Regular';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Regular.ttf') format('truetype'); 
  }
.login-img{
  width:41rem;
  height: 32rem;
  margin-top: -0.5rem;
}
.eye-icon{
  margin-right: -15rem;
}
  .login-welcome{
color: rgba(70,70,70,1);
font-family: "Quicksand-Medium";
font-size: 40px;
font-style: normal;
letter-spacing: 0px;
text-align: left;
align-content: center;
margin: auto;
margin-left: 4rem;
  }
  .login-p{
    opacity: 1;
    color: rgba(70,70,70,0.8);
    font-family: "Quicksand-Regular";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 3rem;

  }
  .login-col{
    margin-top: 3rem;
  }
  .logo-register{
    width:36%;
    margin-left: 2rem;
   }
   .facebook-btn{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 24px;
     margin-left:1rem;
    padding:10px
   }
   .input-login{
    background-color: transparent;
    border: 1px solid #EBEBEB;
    color: black;
    width: 30rem 
   }
    input[type="text"]:focus,input[type="password"]:focus{
      border: solid 1px #77dcbf !important;
     box-shadow: none !important; /* Some browsers may apply box-shadow instead of outline */
   }
   .forget-p{
    margin-left:7rem
   }
   .green-checkbox input[type="checkbox"] {
    background-color: #5fb099    ;
    border-color: #5fb099;
  
   }
  @media (max-width: 600px) {
    .login-img{
     display: none;
    }
    .logo-register{
      width:36%;
      margin-left: 0rem;
      margin-inline-end: 9.6rem;
     }
     .login-col{
      margin-top: 0rem;
    }
    .login-welcome,.login-p{
      margin-left: 2.5rem;
    }
    .social-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .facebook-btn{
     margin-left:0rem;
     padding:10px;
     width: 90%;
     margin-top: 1.5rem;
     margin-left:1.5rem;
   }
   .custom-google-login {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:1.5rem;
}
.login-or{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-login{
  width: 17rem 
 }
 .login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .btn-tall{
  width: 80%;
 }
 .btn:hover{
  background-color: #142033;
 }
 .forget-p{
  margin-left:4rem
 }
 .form-check{
padding: 0rem;
 }
   
   }
  /* @media only screen and (width: 1920px) and (height: 1080px) {
    .login-img{
      width:57rem;
      height: 50rem;
    }
    .eye-icon{
      margin-right: -10rem;
    }
  }
  @media only screen and (width: 1280px) and (height: 720px) {
    .login-img{
      width:40rem;
      height: 33rem;
    }
    .eye-icon{
      margin-right: -17rem;
    }
  }
  @media only screen and (width: 1280px) and (height: 800px) {
    .login-img{
      width:40rem;
      height: 33rem;
    }
    .eye-icon{
      margin-right: -17rem;
    }
  }
  @media only screen and (width: 1280px) and (height: 1024px) {
    .login-img{
      width:40rem;
      height: 33rem;
    }
    .eye-icon{
      margin-right: -17rem;
    }
  }

  @media only screen and (max-width: 1024px) and (max-height: 768px) {
    .login-img{
      width:35rem;
      height: 32rem;
    }
    .eye-icon{
      margin-right: -19rem;
    }
  }

  @media only screen and (max-width: 768px) and (max-height: 1024px) {
    .login-img{
      width:24rem;
      height: 20rem;
    }
  } */

