@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Medium.ttf') format('truetype'); 
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'); 
  }

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px; 
    margin: 10px;
}
.who-h1{
    color:#464646;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 3rem;
}

.card-image {
    width: 17rem;
    height: auto;
    display: block;
    margin: 0 auto 12px; 
}

.category {
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 8px;
}

.read-more-link{
    
    margin: 0 8px 0 0;
    font-family: 'Poppins-Regular';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #213555;
}
.category-p{
    width: 133px;
  height: 23px;
  margin: 12px 258px 6px 0;
  opacity: 0.6;
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  /* margin-left: -0.5rem; */
}
.description-text{
  font-family: 'Poppins-Regular';
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
}
.description-text:hover{
  
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1877f2;
    text-decoration: underline;
}

.description {
    font-size: 14px;
    color: #555;
}
.news-row{
    margin-left: 2.7rem;
}
.news-h1{
   
  font-family: 'Quicksand-Bold';
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-card .ant-card-body {
    padding: 1rem;
}
@media only screen and (max-width: 600px) {
    .read-more-link,.arrow-hidden{
        display: none;
    }
    .news-row{
        margin-left: -1rem;
    }
   .description-text{
    /* font-size: 16px; */
    max-width: 13rem;
   }
   .news-h1{
    width: 192px;
    height: 30px;
    margin: 0 63px 24px 0;
    font-family: 'Quicksand-Bold';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #464646;
   }

}
/* @media only screen and (max-width: 768px) and (max-height: 1024px) {
    .col-single{
        margin-left: 12rem;
    }

} */