@import "~bootstrap/scss/bootstrap";

$primary: #8A489B;
$primary-rgb: 193, 147, 253;
$secondary: #ffb72a;
$secondary-rgb: 255, 183, 42;
$tertiary-1: #91C852;
$tertiary-1-rgb: 142, 210, 83;
$tertiary-2: #2fc3fb;
$tertiary-2-rgb: 47, 195, 251;
$success: #8dd54f;
$success-rgb: 141, 213, 79;
$warning: #fcb62a;
$warning-rgb: 255, 183, 42;
$danger: #e51717;
$gray: #F5F5F5;
$light-gray: #E0E0ED;
$light-gray-2: #D1D1D1;
$btn-color: white;

$bg-gradient: linear-gradient(
  90deg,
  rgba(87, 0, 253, 1) 0%,
  rgba(87, 0, 253, 1) 0%,
  rgba(44, 175, 219, 1) 100%
);
$light: #fcfaff;
$danger-rgb: 229, 23, 23;
$light-rgb: 252, 250, 255;
$font-sizes: (
  1: 15px,
  2: 17px,
  3: 19px,
  4: 20px,
  5: 28px,
  6: 30px,
  7: 32px,
  8: 34px,
  9: 38px,
);

ul {
  list-style: none;
}
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          values: $font-sizes,
        )
      ),
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: 10px,
        0: 0,
        "sm": 12px,
        "md": 18px,
        "lg": 30px,
        "xl": 100px,
        circle: 50%,
        pill: $border-radius-pill,
      ),
    ),

    "object-fit": (
      property: object-fit,
      class: object-fit,
      values: (
        null: none,
        contain: contain,
        cover: cover,
        fill: fill,
        scale: scale-down,
      ),
    ),
    "object-position": (
      property: object-position,
      class: object-position,
      values: (
        top: top,
        bottom: bottom,
        left: left,
        right: right,
        center: center,
      ),
    ),

    "bg": (
      property: background-color,
      class: bg,
      values: (
        "gray": $gray,
        "light-gray": $light-gray,
        "light-gray-2": $light-gray-2,
        "tertiary-1": $tertiary-1,
      ),
    ),

    "text": (
      property: color,
      class: text,
      state: hover,
      values: (
        primary: $primary,
        secondary: $gray,
        danger: $danger,
        lightgray: $light-gray,
        lightred: #ffcccb,
        blue: #4267b2,
        purple: #A364C7,
        lightblue: #add8e6,
        black: #333333,
      ),
    ),

    "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        null: 0px 0px 2px rgba(0, 0, 0, 0.16),
        sm: $box-shadow-sm,
        md: 0px 3px 6px rgba(0, 0, 0, 0.1),
        lg: (
          rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px,
        ),
        none: none,
      ),
    ),
  )
);

$body-color: $dark;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary-1: $tertiary-1,
  tertiary-2: $tertiary-2,
  success: $success,
  warning: $warning,
);
@import "../node_modules/bootstrap/scss/bootstrap";
// Loop through each Bootstrap button variant
@each $variant, $color in $theme-colors {
  .btn-#{$variant} {
    color: $btn-color;
  }
}
:root {
  // --bs-body-font-family: "HelveticaNeueLT";
  --bs-primary: #{$primary};
  --bs-primary-rgb: #{$primary-rgb};
  --bs-secondary: #{$secondary};
  --bs-secondary-rgb: #{$secondary-rgb};
  --bs-tertiary-1: #{$tertiary-1};
  --bs-tertiary-1-rgb: #{$tertiary-1-rgb};
  --bs-tertiary-2: #{$tertiary-2};
  --bs-tertiary-2-rgb: #{$tertiary-2-rgb};
  --bs-success: #{$success};
  --bs-success-rgb: #{$success-rgb};
  --bs-warning: #{$warning};
  --bs-warning-rgb: #{$warning-rgb};
  --bs-danger: #{$danger};
  --bs-blue: #{$primary};
  --bs-light: #{$light};
  --bs-gray: #{$gray};
  --bs-light-gray: #{$light-gray};
  --bs-body-bg: #fff !important;
  --bs-red: #{$danger};
  --bs-green: #{$success};
  --bs-danger-rgb: #{$danger-rgb};
  --bs-light-rgb: #{$light-rgb};
  --bs-body-line-height: 1.63;
  --fs-1: 12px;
  --fs-2: 14px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 20px;
  --fs-6: 22px;
  --fs-7: 24px;
  --fs-8: 26px;
  --fs-9: 28px;
}
.row {
  --bs-gutter-x: 30px;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 15px;
  padding-left: 15px;
}

.bg-gradient {
  background: $bg-gradient !important;
}
a {
  color: inherit;
  text-decoration: none;
}

.lh-md {
  line-height: 1.63;
}
p {
  margin-bottom: 0;
}

.cr-pointer {
  cursor: pointer;
}

.react-tel-input .flag-dropdown {
  border: 0;
  .selected-flag {
    all: unset;
    .flag {
      .arrow {
        all: unset;
        &::after {
          content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 5.5L8 10.5L3 5.5' stroke='%235B5B5B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          position: relative;
          right: -20px;
          top: -1px;
        }
      }
    }
  }
}
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: $primary #f0f0f0;
}

/* For WebKit based browsers (e.g., Chrome, Safari) */
.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 4px;
}

/* For Firefox */
.scrollable::-moz-scrollbar {
  width: 8px;
}

.scrollable::-moz-scrollbar-track {
  background-color: #f0f0f0;
}

.scrollable::-moz-scrollbar-thumb {
  background-color: $primary;
  border-radius: 4px;
}

.modal-backdrop {
  --bs-backdrop-zindex: 999;
}
