.App{
  background-color: white
}
:root {
  --custom-cursor: url('https://static-00.iconduck.com/assets.00/cursor-pointer-icon-1907x2048-0ifemj1z.png');
}

.custom-cursor {
  cursor: var(--custom-cursor), auto;
}

@media only screen and (max-width: 600px) {
  .App{
    overflow-x: hidden;
  }
}