@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../../assets/fonts/Quicksand (1)\static\Quicksand-Bold.ttf') format('truetype'); 
}

body {
  margin: 0;
  font-family:'Quicksand-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.App{
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --custom-cursor: url('https://static-00.iconduck.com/assets.00/cursor-pointer-icon-1907x2048-0ifemj1z.png');
}

.custom-cursor {
  cursor: var(--custom-cursor), auto;
}

@media only screen and (max-width: 600px) {
  .App{
    overflow-x: hidden;
  }
  :root{
    overflow-x: hidden;
  }
}
